{% extends 'main/layout.html' %}

{% block title %}News on the site{% endblock %}

{% block content %}
    <div class="features">
        <h1>News on the site</h1>

    {% if news %}
        {% for el_news in news %}
            <div class="alert alert-warning">
                <h3>{{ el_news.title }}</h3>
                <p>{{ el_news.preview }}</p>
                <a href="{% url 'news-detail' el_news.id %}" class="btn btn-warning">More details</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No news</p>
    {% endif %}

    </div>
{% endblock %}