{% extends 'main/layout.html' %}

{% block title %}Test page{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum iste laudantium molestiae neque, numquam odit quasi sed velit. Exercitationem, provident.</p>
        <button class="btn btn-warning">To the page about us</button>

        <p> {{ values }} </p>
        <p>{{ obj }}</p>

        {% for el in values %}
            <p>{{ el|lower  }}</p>
        {% endfor %}
        {% for obj_k, obj_v in obj.items %}
            {% filter upper %}
            <p>{{ obj_k }} - {{ obj_v }}</p>
            {% endfilter %}
        {% endfor %}

        {% include 'main/my_test_include.html' %}
        {% include 'main/my_test_include.html' %}
    <h1>Form for adding an article</h1>
        {#        <form method="post" action="/news/check">#}
        <form method="post">
            <input type="text" placeholder="Title" class="form-control"><br>
            <input type="text" placeholder="Preview" class="form-control"><br>
            <textarea class="form-control" placeholder="Full text"></textarea><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
            <button class="btn btn-success" type="submit">Add article</button>
        </form>
    </div>
{% endblock %}